
*.swp

# IDEs
.vscode/*
!.vscode/launch.json
.idea/
*.iml
.bsp/

# Mac
.DS_Store

# Scala
target

# TypeScript/Bun
node_modules
*.js
*.d.ts
*.js.map
*.d.ts.map

# Data and shortcuts
data
sieve.jar
run-*.sh

